:host {
  .pokemon-list {
    height: 300px;
    width: 150px;
    overflow: auto;
    border: 1px solid var(--N20);
    padding: 8px;
  }

  .pokemon-item {
    height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    text-transform: capitalize;

    &:hover {
      background-color: var(--P5);
    }

    &.selected {
      background-color: var(--P10);
    }
  }
}
